body {
  font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 4, 6em;
  letter-spacing: 2px;
}

h2 {
  text-transform: capitalize;
  font-size: 2em;
}

header {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: bottom;
  height: 50em;
  color: #fff;
  position: relative;

}


nav {
  display: flex; /*1*/
  flex-direction : row; /*2*/
  justify-content: center; /*3*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: gray;
}
