html {
  scroll-behavior: smooth;
}

body {
  font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 4, 6em;
  letter-spacing: 2px;
}

h2 {
  text-transform: capitalize;
  font-size: 2em;
}

header {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: bottom;
  height: 50em;
  color: #fff;
  position: relative;
}

nav {
  display: flex; /*1*/
  flex-direction: row; /*2*/
  justify-content: center; /*3*/
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #555;
  color: white;
}

/* page content */
section {
  padding: 1em;
}

h2 {
  border-bottom: #555 1px solid;
}

#Disclaimer {
  font-size: 0.8em;
  text-align: center;
  color: #f00;
}

.right-info {
  float: right;
  width: 7em;
  margin: 0 0 1em 1em;
  border: #555 1px solid;
  padding: 0.5em;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-info img {
  width: 5em;
}

.right-info p {
  margin-bottom: 0;
}

#Contact .section-sub-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#Contact-form {
  display: flex;
  flex-direction: column;
  width: 40em;
}

#Contact-form input,
#Contact-form textarea,
#Contact-form select {
  margin-bottom: 1em;
}

#sujet {
  height: 5em;
}

/* Motus */
.motus-table-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.motus-table-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.motus-base {
  background-color: #d3d3d3;
  border-color: #000;
  border: 1px solid;
  width: 3em;
  height: 3em;
  margin: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.motus-yellow {
  background-color: #ffd700;
  border-color: #b8860b;
}

.motus-red {
  background-color: #fa8072;
  border-color: #8b0000;
}

.motus-active {
  background-color: #5e5e5e;
  border-color: #b1b1b1;
  color: #b1b1b1;
}

/* footer */
footer {
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 1em;
}
